<apex:page standardController="Quote" extensions="EmailattachmentExtension">
 <apex:form >
 <apex:pageBlock title="Email Preview">
 <apex:pageblockSection >
 <apex:pageBlockSectionItem >
                <apex:outputLabel value="Select Opportunity Attachment"/>
                <apex:outputPanel id="oppSelect">
                    <apex:selectList size="1" value="{!idSelectedOppPDF}" id="OppPDFSelectList">
                    <apex:selectOptions value="{!OppRecordPDFOptions}"/>
                  <!-- <apex:actionSupport event="onchange" action="{!SelectQuotePDFChange}" reRender="EmailPreviewPanel"/>-->
                    </apex:selectList>

                    <apex:commandButton value="Add" action="{!addOppAttachments}"  style="position:absolute"/>
                </apex:outputPanel>
            </apex:pageBlockSectionItem>
            </apex:pageblockSection>
 <table style="text-align:center;width:100%;background-color:#DCE9F5;border-style:solid;border-width:1px;border-color:gray;" cellpadding="4">
 <!--   <apex:form > -->
            <tr>
                <td style="width:10%;text-align:right;">From :</td>
                <td style="text-align:left;">{!strUserEmail}</td>            
            </tr>
            <tr>
                <td style="width:10%;text-align:right;">To :</td>
                <td style="text-align:left;">{!toMailAddressesString}</td>            
            </tr>
            <apex:actionRegion >
        <tr style="text-align:left;">
            <td style="width:10%;text-align:right;">Attachments :</td>
            <td style="text-align:left;"><!--<img src="{!URLFOR($Resource.attachmentIcon)}" style="position:relative;top:3px;"/>&nbsp;{!strSelectedQuotePDFName}-->
                 <apex:outputPanel id="repOpp">
                    <apex:variable var="attOppCount" value="{!0}"/>
                    <apex:repeat value="{!attachmentOppSelectedList}" var="attOpp">
                        <apex:variable var="attOppCount" value="{!(attOppCount+1)}"/>
                        <br/> <img src="{!URLFOR($Resource.attachmentIcon)}" style="position:relative;top:3px;"/>&nbsp;
                        <apex:outputText value="{!attOpp.Name}"/> &nbsp; &nbsp;
                        <apex:commandLink action="{!removeExtraAttachmentOpp}" value="Remove" reRender="repOpp,oppSelect" onclick="getElementById('{!$Component.removeIndicatorOpp}').style.display='inline';"> 
                            <apex:param name="dSeqAttachOpp" assignTo="{!dSeqAttachOpp}" value="{!attOppCount}"/>
                        </apex:commandLink>
                    </apex:repeat>
                    <apex:outputPanel id="removeIndicatorOpp" style="display:none;"><img src="{!$Resource.uploadingIcon}"/> Removing....</apex:outputPanel>
                </apex:outputPanel>
                
             
        
            </td>
        </tr>  
        </apex:actionRegion>
                
                
                
                
                
            </table>
 </apex:pageblock>
 </apex:form>
</apex:page>