<apex:page standardcontroller="account" extensions="pageblocklinkcontroller">
 <script type="text/javascript">
            function copyAddress() {
                // Variables for Residence Address
                var copy_ResidenceAddressType = document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:residenceAddressType').value;
                var copy_ShippingStreet =document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:shippingStreet').value;
                var copy_ShippingCity = document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:shippingCity').value;
                var copy_ShippingState = document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:shippingState').value;
                var copy_ShippingPostalCode = document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:shippingPostalCode').value;
                var copy_ShippingCountry = document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:shippingCountry').value;
               
                // Copying the Mailing Adress to the Residence Address
                if(copy_ResidenceAddressType != null)
                {
                    document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:mailingAddressType').value = copy_ResidenceAddressType;
                 }
                if(copy_ShippingStreet != null) {
                    document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:billingStreet').value = copy_ShippingStreet;
                }
                if(copy_ShippingCity != null) {
                    document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:billingCity').value = copy_ShippingCity;
                }
                if(copy_ShippingState != null) {
                    document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:billingState').value = copy_ShippingState;
                }
                if(copy_ShippingPostalCode != null) {
                    document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:billingPostalCode').value = copy_ShippingPostalCode;
                }
                if(copy_ShippingCountry != null) {
                    document.getElementById('j_id0:j_id1:accountBlock:addressInformationSection:billingCountry').value = copy_ShippingCountry;
                }
            }
        </script>
<apex:form >
<apex:pageBlock title="Organization Edit" mode="Edit" id="accountBlock" >
            <apex:pageblockbuttons >
                <apex:commandbutton action="{!save}" value="Save" />
                
                <apex:commandbutton action="{!Cancel}" value="Cancel" />
            </apex:pageblockbuttons>
 <!-- Address Information Section -->
            <apex:pageBlockSection collapsible="True" title="Address Information" columns="2" id="addressInformationSection"  >
                <A HREF="#" onClick="return copyAddress();">Copy  Mailing Address to Residence Address</A>
                
       <apex:inputField value="{!account.BillingStreet}" id="billingStreet"/>
                <apex:inputField value="{!account.ShippingStreet}" id="shippingStreet"/>
                <apex:inputField value="{!account.BillingCity}" id="billingCity"/>
                <apex:inputField value="{!account.ShippingCity}" id="shippingCity"/>
                <apex:inputField value="{!account.BillingState}" id="billingState" />
                <apex:inputField value="{!account.ShippingState}" id="shippingState"/>
                <apex:inputField value="{!account.BillingPostalCode}" />
               
            </apex:pageblocksection>
</apex:pageblock>
</apex:form>
</apex:page>