<apex:page standardcontroller="quote" >
 <apex:form >
 <apex:pageblock >
 <font face="Verdana" color="green">The fields below are checkboxes. Please fill them to proceed further</font> 

 <apex:pageblocksection >
 <apex:inputcheckbox value="{!quote.Salespdf__c}"/>

 </apex:pageblocksection>
 
 
 </apex:pageblock>
 </apex:form>
 
 </apex:page>